.iframe-container {
	margin: 0 auto;
	text-align: center;
	width: 853px;
	height: 480px;

	@media (max-width: $breakpoint-992) {
		width: 640px;
		height: 360px;
	}

	@media (max-width: $breakpoint-768) {
		width: 100%;
		height: 320px;
	}

	@media (max-width: $breakpoint-576) {
		height: 270px;
	}
}
